*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.p-top{
  padding-top:50px;
}
.m-t{
margin-top: 80px;
}
/* ----back to top--------- */
.btn1{
    width:50px;
    height:50px;
    background-color:#343f52;
    border: none;
    position: fixed;
    z-index: 99;
    bottom: 0;
    right:30px;
}
.up{
    color: #d4d3d3;
    font-size:25px;
}
/* ----------------------- */
.cantiner{
    max-width: 1300px;
    margin: auto;
}
.headar{
    background-color: rgb(255, 255, 255);
    width:100%;
    height:80px;
    /* position: fixed; */
}
.headar.abc{
    position: fixed;
    font-size: 30px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height:80px;
    z-index: 9;
}
.main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  
}
.m-logo img{
    width:150px;
    color: #ffffff;
}
.m-txt a{
    text-decoration: none;
    color: #343f52;
    font-size:18px;
    font-weight:600;
    padding-left:40px;
}
.search{
    color: #343f52;
    padding-left:50px;
    font-size: 20px;
}
.searchh{
    color: #343f52;
    padding-left:20px;
    font-size: 20px;
}

/*--------------- benar-------------------- */

:after,
:before,
*{
    box-sizing: border-box;
}
.container {
  width:1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  /* position: absolute; */
}
body {
  /* margin: 0; */
  font-family: 'Rajdhani', sans-serif;
}
h2 {
      line-height:1.1;
}
.hero-slider {
  width: 100%;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 0;
}

@media (max-width: 991px) {
  .hero-slider {
    height: 600px;
  }
}

@media (max-width: 767px) {
  .hero-slider {
    height: 500px;
  }
}

.hero-slider .swiper-slide {
  overflow: hidden;
  color: #fff;
}

.hero-slider .swiper-container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.hero-slider .slide-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.hero-slider .swiper-button-prev,
.hero-slider .swiper-button-next {
  background: transparent;
  width: 55px;
  height: 55px;
  line-height: 53px;
  margin-top: -30px;
  text-align: center;
  border: 2px solid #d4d3d3;
  border-radius: 55px;
  opacity:0;
  visibility:hidden;
  transition:all .3s ease;
}
.hero-slider:hover .swiper-button-prev,
.hero-slider:hover .swiper-button-next {
  transform:translateX(0);
  opacity:1;
  visibility:visible;
}

@media (max-width: 767px) {
  .hero-slider .swiper-button-prev,
  .hero-slider .swiper-button-next {
    display: none;
  }
}

.hero-slider .swiper-button-prev {
  left: 25px;
  transform:translateX(50px);
}

.hero-slider .swiper-button-prev:before {
  font-family: "Font Awesome 5 Free";
  content: "\f060";
  font-size: 15px;
  color: #d4d3d3;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  font-weight: 900;
}

.hero-slider .swiper-button-next {
  right: 25px;
  transform:translateX(-50px);
}

.hero-slider .swiper-button-next:before {
  font-family: "Font Awesome 5 Free";
  content: "\f061";
  font-size: 15px;
  color: #d4d3d3;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  font-weight: 900;
}

.hero-slider .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  text-align: left;
  line-height: 12px;
  font-size: 12px;
  color: #000;
  opacity: 0.3;
  background:#fff;
  transition:all .2s ease;
}

.hero-slider .swiper-pagination-bullet-active {
  opacity:1;
}

.hero-slider .swiper-container-horizontal > .swiper-pagination-bullets,
.hero-slider .swiper-pagination-custom,
.hero-slider .swiper-pagination-fraction {
  bottom: 30px;
}

@media screen and (min-width: 992px) {
  .hero-slider .swiper-container-horizontal > .swiper-pagination-bullets,
  .hero-slider .swiper-pagination-custom,
  .hero-slider .swiper-pagination-fraction {
    display: none;
  }
}
.swiper-pagination {
  text-align:left;
}

.hero-slider .swiper-container-horizontal > .swiper-pagination-bullets{
  bottom:50px;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
}

@media (min-width: 767px) {
  .hero-slider .swiper-container-horizontal > .swiper-pagination-bullets{
  bottom:30px;
 
}
}
/*--------------------------------------------------------------
	#hero-style
--------------------------------------------------------------*/
.hero-style {
  height: 850px;
  transition:all .4s ease;
}

@media (max-width: 991px) {
  .hero-style {
    height: 600px;
  }
}

@media (max-width: 767px) {
  .hero-style{
    height: 500px;
  }
}

@media screen and (min-width: 992px) {
  .hero-style .container {
    padding-top: 95px;
  }
}

.hero-style .slide-title,
.hero-style .slide-text,
.hero-style .slide-btns {
  max-width: 690px;
}

.hero-style .slide-title h2 {
  font-size: 100px;
  font-weight: 600;
  line-height: 1;
  color: #ffffff;
  margin: 0 0 40px;
  text-transform: capitalize;
  transition:all .4s ease;
}

@media (max-width: 1199px) {
  .hero-style .slide-title h2 {
    font-size: 75px;
  }
}

@media (max-width: 991px) {
  .hero-style .slide-title h2 {
    font-size: 50px;
    margin: 0 0 35px;
  }
}

@media (max-width: 767px) {
  .hero-style .slide-title h2 {
    font-size: 35px;
    margin: 0 0 30px;
  }
}

.hero-style .slide-text p {
  opacity: 0.8;

  font-size: 32px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: normal;
  color: #ffffff;
  margin: 0 0 40px;
  transition:all .4s ease;
}

@media (max-width: 767px) {
  .hero-style .slide-text p {
    font-size: 16px;
    font-size: 1rem;
    font-weight: normal;
    margin: 0 0 30px;
  }
}

.hero-style .slide-btns > a:first-child {
  margin-right: 10px;
}


/*--------------------------------------------------------------
	#button-style
--------------------------------------------------------------*/
.theme-btn, .theme-btn-s2{
    background-color: #ffffff;
    font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
  color:#2b3b95;
    padding: 9px 32px;
    border: 0; 
  border-radius: 3px;
    text-transform: uppercase;
    display: inline-block;
    line-height: initial;
  transition:all .4s ease;
}
a {
    text-decoration: none;
    transition: all 0.2s ease;
}
.theme-btn-s2{
    background-color: rgba(255, 255, 255, 0.9);
    color: #131e4a;
}
.theme-btn:hover, .theme-btn-s2:hover, .theme-btn:focus, .theme-btn-s2:focus, .theme-btn:active, .theme-btn-s2:active {
    background-color:#2b3b95 ;
    color: #fff;
}
.theme-btn-s3{
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  text-transform: uppercase;
}
i.fa-chevron-circle-right{
  height:22px;
  width:22px;
}
a:hover {
    text-decoration: none;
}
@media (max-width: 991px){
  .theme-btn, .theme-btn-s2, .theme-btn-s3 {
    font-size: 13px;
    padding: 15px 25px;
  }
}
@media (max-width: 767px){
  .theme-btn, .theme-btn-s2{
    padding: 13px 20px;
    font-size: 13px;
  }
}

/* -------section 3------------------------------------------------------------------------- */
.sec3-main{
  display: flex;
  justify-content:space-between;
  align-items:center;  
}
.s3-who{
  margin-top:8%;
}
.s3-who h2{
    color: #131e4a;
    font-size:40px;
}
.s3-ycfhsd{
  color:gray;
  font-size:25px;
  width:680px;
}
.s3-hgcds{
  color:gray;
  font-size:18px;
  width:600px;
}
.s3-img{
  background-image: url(./image/about2.jpg);
  width: 500px;
  height: 500px;
  background-size: cover;
  border-radius: 10px;
}

.s3-2-img{
  position:relative;
  border-radius:10px;
  width: 350px;
  height: 350px;
  right:25%;
  margin-top:35%;
}
.sound{
  font-size:50px;
  margin-bottom: 20px;
}
.s3-04{
  display: flex;
}
.s3-04-1{
    font-size:18px;
    color:gray;
    width:250px;
    padding-left:8px;
}
.s3-04-2{
    font-size:18px;
    color:gray;
    width: 250px;
}
.check{
  font-size:50px;
  width:24px;
  /* float:left; */
}
/* section 4---------------------------------- */
.sec4{
  text-align: center;
  margin-top:8%;
}
.sec4 img{
  margin-bottom: 20px;
}
.dd{
  font-size: 40px;
  color: #131e4a;
  font-weight:600;
  width:650px;
  margin: auto;
}

.sec4-02{
  margin-top: 30px;
  display: flex;
  justify-content:space-around; 
}
.s4-01-h{
    font-size: 30px;
    font-weight: 600;
}
.s4-01-t{
    font-size:20px;
    color:gray;
    font-weight:500;
    width:550px;
}
.s4-01-txt{
    font-size:16px;
    color:gray;
    font-weight:400;
    width:600px;
}
.sec4-02 :nth-child(4){
    font-size:16px;
    color: gray;
    font-weight: 400;
    width:600px;
}
.sec4-02 :nth-child(5){
    font-size:20px;
    color: rgb(255, 255, 255);
    width:150px;
    height:50px;
    border-radius:50px;
    border:none;
    background-color:#3F78E0;
}
.s4-dd{
  display:flex;
}
.m-l{
  margin-left: 50px;
}
.s4-01{
    background-color: white;
    border:1px solid gray;
    width:500px;
    height:100px;
    border-radius: 10px;
    display: flex;
    margin-bottom:30px;
}
.s4-01-01 img{
    width:60px;
    margin:20px;
}

.s4-t{
    font-size:20px;
    font-weight:500;
    margin-top: 20px;
}
.s4-01-02 :nth-child(2){
    font-size:18px;
    color: gray;
    margin-top:-20px;
}
/* -------------------------------------------------------------- */
/* ---------section 5------------------------------------------- */
.sec5{
    width:100%;
    height:620px;
    background-color: #e0e9fa;
}
.se5-t{
    width:500px;
    font-size:22px;
    color: gray;
  }
.se5{
  display: flex;
  justify-content:space-between;
  /* align-items: center; */
}
.se5-02{
    margin-top:15%;
}
.se5-txt{
    font-size: 20px;
    font-weight:500;
}
.se5-h{
    font-size: 20px;
    font-weight:400;
    color: gray;
}
/* -------section 6------------------------------------- */
.se6{
      text-align: center;
}
.se6-t{
    font-size:50px;
    color:#131e4a;
    font-weight:600;
    width:750px;
    margin: auto;
}
.se6-02{
    display: flex;
    justify-content: space-between;
}
.se6-01{
    color: #d4d3d3;
    border:2px solid gray;
    height:363px;
    width:292px;
    border-radius: 10px;
}
.se6-01-01{
    text-align: center;
    margin-top:30px;
}
.se6-01 img{
    border-radius:50%;
    width:100px;
}
.s6-t{
    font-size:20px;
    color:#131e4a;
    font-weight:600;
}
.s6-txt{
    font-size:25px;
    color: gray;
}
.s6-text{
    font-size: 20px;
    color: gray;
    width:250px;
    margin-left:20px;
}
.twitter{
    color:#3F78E0;
    font-size:30px;
    padding-right: 20px;
}
.facebook{
    font-size:30px;
    color:#3F78E0;
    padding-right: 20px;
}
.dribbble{
    color:rgb(255, 102, 128);
    font-size: 30px;
}
/* ------counter bg---------------------------- */
.counter-bg{
    background-color: #cfdffce1;
    width:100%;
    height:300px;
}
.icon{
    font-size: 30px;
}
#f{
    font-size:20px;
}
.counter {
    background-color: #f5f5f5;
    padding: 20px 0;
    border-radius: 5px;
  }
  
  .count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
  }

  .count-text {
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
  }
  
  .fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #4ad1e5;
  }
  /* -----section 7--------------- */
  .sec7{
      display: flex;
      justify-content: space-around;
  }
.se7-01 img{
    border-radius: 10px;
}
.se7-h{
    font-size:40px;
    color:#131e4a ;
    font-weight:600;
    width: 550px;
}
.se7-02 img{
    margin-left:-20px;
  }
.location{
    color: #3F78E0;
    font-size:25px;
}
.sec7-02-01{
    display: flex;
    margin-top:20px;
}
.s7-02-02{
  margin-left:40px;

}
.s7-02-t{
  font-size: 20px;
  color: #000;
  font-weight:600;
}
.s7-02-txt{
    font-size:18px;
    margin-top:-10px;
    width:250px;
}
/* -------section 8----------------------- */
.sec8{
    width:100%;
    height:450px;
    background-color:#EDF2FC;
}
.se8-t{
    color: #000;
    font-size:40px;
    color: #131e4a;
    font-weight: 600;
}

.se8{
    text-align:center;
    padding-top:3%;
    /* width:580px; */
}
.se8-txt{
    color: gray;
    font-size:25px;
}
.se8 button{
    color:gray;
    border: 1px solid gray;
    font-size: 20px;
    background-color: #EDF2FC;
    height: 60px;
    border-radius: 10px;
    width:300px;
}
/* ---------------------------- */
footer{
    background-color:#21262C;
    width:100%;
    height:400px;
}
.f01-t{
    font-size: 20px;
    color:white;
    
}
.f-01 img{
  margin-bottom: 20px;
}
.footer-1{
    display: flex;
    justify-content: space-around;
}
.f01-facebook{
    color: white;
    font-size: 25px;

}
.f01-twitter{
    color: white;
    font-size: 25px;
    margin-left:10px;
}
.b1{
    color: white;
    font-size:20px;
    font-weight: 600;
}
.b2{
    color:rgb(173, 153, 153);
    font-size:16px;

}
.c1{
  color: white;
  font-size: 20px;
  font-weight: 600;
}
.c2{
  color:rgb(173, 153, 153);
  font-size:16px;
}
.d1{
  color: white;
  font-size: 20px;
  font-weight: 600;
}
.d2{
  color:rgb(173, 153, 153);
  font-size:16px;
  width:150px;
}